<div class="flex home-hero text-white">
  <div class="container">
    <div class="flex justify-center fullpage flex-column">
      <h1 class="text-hero">Some Title</h1>
      <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.</p>
      <fsr-button size="large">See More</fsr-button>
    </div>
  </div>
</div>
<div class="flex">
  <div class="container">
    <div class="flex justify-center fullpage flex-column">
      <h1 class="text-hero">Some Title</h1>
      <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.</p>
      <fsr-button size="large">See More</fsr-button>
    </div>
  </div>
</div>
