<div class="flex home-hero text-white">
  <div class="video-fullscreen">
    <video autoplay muted loop>
      <source src="assets/video/ringy.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container content">
    <div class="flex justify-center fullpage flex-column">
      <div class="home-card fade-up-delayed">
        <h1 class="text-hero">{{mainContent?.title}}</h1>
        <p class="my-3">{{mainContent?.content}}</p>
        <div>
          <fsr-button *ngIf="mainContent" [routerLink]="mainContent.link.action" size="large">{{mainContent.link?.text}}</fsr-button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex fader">
  <div class="container">
    <div class="flex justify-center fullpage flex-column">
      <h1 class="text-hero">{{secondaryContent?.title}}</h1>
      <p class="my-3">{{secondaryContent?.content}}</p>
      <div>
        <fsr-button *ngIf="secondaryContent" [routerLink]="secondaryContent.link.action" size="large">{{secondaryContent.link?.text}}</fsr-button>
      </div>
    </div>
  </div>
</div>
