@import "../../../../values.scss";

.home-hero {
  background-image: url("/assets/img/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  .content {
    z-index: 30;
  }
}


.video-fullscreen {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 4;
}

.home-card {
  display: block;
  padding: 2rem;
  background-color: transparentize($color: darken($dim, 15), $amount: .1);
  box-shadow: transparentize($color: black, $amount: .3) 0 0 1.6rem;
  animation: fade-in-up-delayed 2.4s normal 0s ease;
}

@keyframes fade-in-up-delayed {

  0%,
  45% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
