@import '../../../../values.scss';

.graphic-image {
  max-width: 20rem;
  top: 0;
  left: 0;
}

.image-primary {
  position: absolute;
}

.selected {
  animation: focus-center .5s ease .3s forwards;
  z-index: 20;
}

.holder {
  visibility: hidden;
  pointer-events: none;
}

.img-holder {
  position: relative;
}

.dim-filter {
    position: fixed;
    background-color: transparentize($color: $dim, $amount: .3);
    display: block;
    opacity: 0;
    transition: all .5s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 18;
}

.filter-on {
    opacity: 1;
    display: block;
    pointer-events: initial;
    cursor: pointer;
}

.disable-click {
    pointer-events: none;
}

@keyframes focus-center {
  0% {}
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
  }
}
