<div class="flex text-white pos-fixed w-100 navbar" [class.bg-dim]="navbar.isOpaque()" [hidden]="!navbar.isVisible()">
  <div class="container">
    <div class="flex justify-between items-center">
      <div class="flex items-center grow-1">
        <img src="assets/svg/halowhite.svg" class="navbar-brand">
        <div class="ml-3">Alex Griffith</div>
      </div>
      <div class="flex">
        <fsr-button color="white" [solid]="false" [fixed]="true" [routerLink]="['/']">Home</fsr-button>
        <fsr-button color="white" [solid]="false" [fixed]="true" [routerLink]="['/skills']">Skills</fsr-button>
        <fsr-button color="white" [solid]="false" [fixed]="true">Experience</fsr-button>
        <fsr-button color="white" [solid]="false" [fixed]="true">Creations</fsr-button>
        <fsr-button color="white" [solid]="false" [fixed]="true">Contact</fsr-button>
      </div>
    </div>
  </div>
</div>