<div class="bg-dim flex text-white">
  <div class="container">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <img src="assets/svg/halowhite.svg" class="navbar-brand">
        <span class="ml-3">halomademeapc</span>
      </div>
      <div class="flex">
        <a class="navLink py-3 mx-2" href="">Home</a>
        <a class="navLink py-3 mx-2" href="">Experience</a>
        <a class="navLink py-3 mx-2" href="">Creations</a>
        <a class="navLink py-3 mx-2" href="">Contact</a>
      </div>
    </div>
  </div>
</div>