<div class="flex pt-8">
  <div class="container">
    <div class="flex justify-center fullpage-push flex-column">
      <h1 class="text-hero">Skills to pay the bills.</h1>
      <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.</p>
      <div class="row">
        <div class="col-4">
          <h3 class="my-4">Specialties</h3>
          <ul>
            <li class="language-tag">
              <img src="assets/svg/icon/csharp.svg" alt="C#" tooltip="C#" placement="left" show-delay="200"
                tooltip-class="tooltip">
              <ul>
                <li>ASP.NET Core</li>
                <li>ASP.NET MVC 5</li>
                <li>Xamarin</li>
              </ul>
            </li>
            <li class="language-tag">
              <img src="assets/svg/icon/ts.svg" alt="TypeScript" tooltip="TypeScript" placement="left" show-delay="200"
                tooltip-class="tooltip">
              <ul>
                <li>Angular</li>
              </ul>
            </li>
            <li class="language-tag">
              <img src="assets/svg/icon/java.svg" alt="Java" tooltip="Java" placement="left" show-delay="200"
                tooltip-class="tooltip">
              <ul>
                <li>Android</li>
                <li>Camel</li>
              </ul>
            </li>
            <li class="language-tag">
              <img src="assets/svg/icon/ps.svg" alt="TypeScript" tooltip="PowerShell" placement="left" show-delay="200"
                tooltip-class="tooltip">
              <ul>
                <li>Windows PowerShell</li>
                <li>PowerShell Core</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-4">
          <h3 class="my-4">Other Proficiencies</h3>
          <div class="flex flex-wrap flex-row language-list">
            <span *ngFor="let l of languages" [ngStyle]="getStyle(l)" alt="l.description" class="language-list-item"
              [tooltip]="l.description" show-delay="200" tooltip-class="tooltip"></span>
          </div>
        </div>
        <div class="col-4">
          <h3 class="my-4">Something</h3>
          <ul class="flex">
            <li class="language-tag">asdk</li>
            <li class="language-tag">asdkazzxx</li>
            <li class="language-tag">llalsdla</li>
            <li class="language-tag">zzzzzz</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
