<div class="flex pt-8">
  <div class="container">
    <div class="flex justify-center fullpage-push flex-column">
      <h1 class="text-hero">Skills to pay the bills.</h1>
      <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.</p>
      <div class="row">
        <div class="col-4">
          <h3>Technical</h3>
          <ul>
            <li class="my-2">thing 1</li>
            <li class="my-2">two</li>
            <li class="my-2">tres</li>
            <li class="my-2">cuatro</li>
          </ul>
        </div>
        <div class="col-4">
          <h3>Interpersonal</h3>
          <ul>
            <li class="my-2">thingajig</li>
            <li class="my-2">asdk</li>
            <li class="my-2">lkkasd</li>
            <li class="my-2">aksdkasll</li>
          </ul>
        </div>
        <div class="col-4">
          <h3>Something</h3>
          <ul>
            <li class="my-2">asdk</li>
            <li class="my-2">asdkazzxx</li>
            <li class="my-2">llalsdla</li>
            <li class="my-2">zzzzzz</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
