.fader {
  background-image: url('assets/svg/fader.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.tile-icon {
  max-height: 4rem;
  max-width: 4rem;
  display: block;
}

.mega-tile-icon {
  max-height: 4rem;
  display: block;
}

.btn-icon {
  height: 1.3em;
  max-width: 1.3em;
}
