/* You can add global styles to this file, and also import other style files */

@import "./reset.scss";
@import "./values.scss";
@import "./spacing.scss";
@import 'node_modules/flexboxes/main';
@import './simple-grid.scss';
@import './typography.scss';
@import './sizing.scss';

.bg-dim {
  background-color: $dim;
}

* {
  font-family: $font;
}

.pos-fixed {
  position: fixed;
}

router-outlet~* {
  position: absolute;
  height: 100%;
  width: 100%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
