<div class="flex pt-8 pb-8">
  <div class="container">
    <div class="flex fullpage-push flex-column pt-10">
      <h1 class="text-hero pt-4">How I got here</h1>
      <div class="flex flex-row justify-end items-center mt-2">
        <span class="mr-4 text-primary">Filter:</span>
        <fsr-button color="grey" (click)="toggleWork()" [solid]="false" [inactive]="!showWork">Work</fsr-button>
        <fsr-button color="grey" (click)="toggleSchool()" [solid]="false" [inactive]="!showSchool">School</fsr-button>
        <fsr-button color="grey" (click)="toggleOther()" [solid]="false" [inactive]="!showOther">Other</fsr-button>
      </div>
      <div *ngIf="!hasLoaded" class="grow"></div>
      <div *ngIf="hasLoaded" class="fade-up-delayed">
        <div *ngIf="!displayedEvents.length" class="justify-center flex flex-row py-10 text-dim">
          <span>
            There is no content matching the selected filter.
          </span>
        </div>
        <app-timeline [events]="displayedEvents"></app-timeline>
      </div>
    </div>
  </div>
</div>